---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import Footer from "../components/Footer.astro";
import NavigationP from "../components/NavigationP.astro";
import HeroImg from "../components/HeroImg.astro";
import Newscardv2 from "../components/Newscardv2.astro"
const newsData = await fetch("https://cgymdqjrjdkshxuerdil.supabase.co/rest/v1/Nyheder_Aktiviteter?type=eq.Nyhed", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNneW1kcWpyamRrc2h4dWVyZGlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjg4NjYsImV4cCI6MjAzMDc0NDg2Nn0.Wuj2B0mSu9HRIludgvymMYSNlhDMzV8213Fitr6A4bw",
  },
}).then((response) => response.json());

console.log("newsData", newsData);
---

<MainLayout title="Alle nyheder" />
<NavigationP />
<HeroImg heroImg="../img/gruppebillede.webp" alt="headerbilleder" />

<div class="main">
  <section class="content">
    <a href="/"><BreadCrumb breadtitle="Hjem" /></a>
    <a href="/allenyheder"><BreadCrumb breadtitle="Nyheder" /></a>
    <h2>NYHEDER</h2>

    <div class="autolayout">
      {newsData.map((news) => <Newscardv2 slug={news.slug} news_image={news.image} date={news.date} headline={news.headline} subheadline={news.subheadline} />)}
    </div>
  </section>
</div>

<Footer />
