---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import ContactCard from "../components/ContactCard.astro";
import Tabel from "../components/Tabel.astro";
import TrainingCard from "../components/trainingCard.astro";
import NavigationP from "../components/NavigationP.astro";
import TrainingInfo from "../components/TrainingInfo.astro";
import HeroImg from "../components/HeroImg.astro";
import Footer from "../components/Footer.astro";
import TrainerCard from "../components/TrainerCard.astro";

const coachId = "24"; // Replace with the actual ID of the coach you want
const contactInfo = await fetch(`https://cgymdqjrjdkshxuerdil.supabase.co/rest/v1/Contact_info?id=eq.${coachId}`, {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNneW1kcWpyamRrc2h4dWVyZGlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjg4NjYsImV4cCI6MjAzMDc0NDg2Nn0.Wuj2B0mSu9HRIludgvymMYSNlhDMzV8213Fitr6A4bw",
  },
}).then((response) => response.json());

console.log("contactInfo", contactInfo);
---
<MainLayout title="Elitetræning"/>
<NavigationP />
<HeroImg heroImg="../img/elite_træning_hero.webp" alt="headerbillede"/>

<div class="main">
    <section class="content">

    <a href="/"><BreadCrumb breadtitle="Hjem"/></a>
    <a href="/traening"><BreadCrumb breadtitle="Træning"/></a>
    <a href="/elitetraening"><BreadCrumb breadtitle="Elite"/></a>
    <h2>ELITETRÆNING 2024</h2>
  
      <div class="grid-1_2">
        <TrainingInfo datoS="1/5 - 13/9 2024" datoW="1/10 - 24/4 2024" lokationS="Genforeningspladsen 52, 2400 København NV" lokationW="Borups Allé 273, 2400 København NV" pause="Skoleferier samt helligdage"/>
        <article class="infocard">
          {contactInfo.length > 0 && 
            <TrainerCard pb="../img/profilepictures/JensSeibaek.jpg" alt="træner" role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email}  phone={contactInfo[0].phone}  profile_picture={contactInfo[0].profile_picture} description={contactInfo[0].description}  
            />
          }
        </article>
      </div>

      <article>
        <a href="#" class="card-link" data-target="container5">Træning for 1-3 elitehold<img src="/img/svg/redarrowDown_1.svg" alt="rød pil ned"></a>
                    <div class="container" id="container5">
                      <div class="card">
                      <TrainingCard
                      teamDescription="Træning for klubbens elitehold. Der udsendes ugentlige programmer til aktuelle spillere med hvem, der træner hvornår."
                      mondayW="N/A" mondayS="18:00-21:00" tuesdayW="19:00-23:00" tuesdayS="N/A" wednesdayW="N/A" wednesdayS="N/A" thursdayS="18:00-21:00" thursdayW="18:00-21:00" fridayS="18:00-20:00" fridayW="N/A" saturdayS="N/A" saturdayW="N/A" sundayS="N/A" sundayW="13:00-16:00"
                      team1="https://atk.halbooking.dk?pid=01&hold=27437" trainingTeam1="Elitetræning sommer"  team2="https://atk.halbooking.dk?pid=01&hold=27417" trainingTeam2="Elitetræning vinter"
                      teamImg="../img/elite_træning_hero.webp" alt="elitetræning billede"
                      />
                    </div>
                  </div>
        </article>


      <div class="grid-1_2">
        <div>
        <h3>OM TRÆNINGEN</h3>
        <p> </p>
        </div>
        
      </div>
      
    </section>
</div>  
<Footer />
  
<script>
  const cardLinks = document.querySelectorAll('.card-link');

  cardLinks.forEach(link => {
    link.addEventListener('click', (e) => {
      e.preventDefault();
      const targetId = link.getAttribute('data-target');
      const targetContainer = document.getElementById(targetId);

      if (targetContainer.classList.contains('active')) {
        targetContainer.classList.remove('active');
      } else {
        document.querySelectorAll('.container.active').forEach(container => {
          container.classList.remove('active');
        });
        targetContainer.classList.add('active');
      }
    });
  });
</script>