---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import ContactCard from "../components/ContactCard.astro";
import Tabel from "../components/Tabel.astro";
import TrainingCard from "../components/trainingCard.astro";
import NavigationP from "../components/NavigationP.astro";

const coachId = "24"; // Replace with the actual ID of the coach you want
const contactInfo = await fetch(`https://cgymdqjrjdkshxuerdil.supabase.co/rest/v1/Contact_info?id=eq.${coachId}`, {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNneW1kcWpyamRrc2h4dWVyZGlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjg4NjYsImV4cCI6MjAzMDc0NDg2Nn0.Wuj2B0mSu9HRIludgvymMYSNlhDMzV8213Fitr6A4bw",
  },
}).then((response) => response.json());

console.log("contactInfo", contactInfo);
---
<MainLayout title="Arbejdernes Tennisklub"/>
<NavigationP 
HeroImg="../img/elite_træning_hero.webp">


<div class="main">

<section class="breadcrumb_trail">
    <img src="../img/svg/arrowLeft_1.svg" alt="Pil">
    <img src="../img/svg/arrowLeft_1.svg" alt="Pil">
    <a href="/juniortraening"><BreadCrumb breadtitle="Junior"/></a>
    <a href="/seniortraening"><BreadCrumb breadtitle="Senior"/></a>
    <a href="/motionisttraening"><BreadCrumb breadtitle="Motionist"/></a>
    <a href="/elitetraening"><BreadCrumb breadtitle="Elite"/></a>
</section>

 <h2>ELITETRÆNING 2024</h2>
  
 <section class="grid-1_2">
  <article>
    <div>
    <h5>SOMMERTRÆNING</h5>
    <div><img src="" alt=""><p></p></div>
    <div><img src="" alt=""><p></p></div>
  </div>
  <div>
    <h5>VINTERTRÆNING</h5>
    <div><img src="" alt=""><p></p></div>
    <div><img src="" alt=""><p></p></div>
  </div>
  <div>
    <h5>TRÆNINGSPAUSER</h5>
    <div><img src="" alt=""><p></p></div>
    <div><img src="" alt=""><p></p></div>
  </div>
  </article>

  <article class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </article>
</section>


<section>
<h4>HOLD- OG TRÆNINGSTIDSPUNKTER</h4>
<TrainingCard />
</section>


<h4>PRISER</h4>
<section class="grid-1_2">
  <p>Tilmeld dig på ATKs hjemmeside via reservationssystemet eller benyt dig af nedenstående links. Log ind med medlemsnummer og pinkode og betal det valgte træningsgebyr under "sæsonhold". Tilmeldingen er bindende for hele vintersæsonen.



    Husk, man skal være medlem af ATK for at kunne modtage træning. Hvis du ikke allerede er medlem af ATK kan du ansøge om juniormedlemskab via formularen her på hjemmesiden.</p>
  <Tabel
  title="HOLD" 
  hold1="Fuldtidsmedlem"
  pris1="1.100 kr."
  hold2="Dagmedlem"
  pris2="900 kr."
  hold3="Juniormedlem"
  pris3="500 kr."
  hold4="Senioridræt"
  pris4="200 kr."
  hold5="Vintermedlem"
  pris5="200 kr."
  hold6="Passiv"
  pris6="100 kr." 
  />
</section>

</div>  
  
  <style>
    .breadcrumb_trail img{ /* pile i brødkrummesti */
        width:0.7%;
    }
    
    p{
      color: blueviolet;/* OBS: skriften er pr default hvid */
    }
     </style>