---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import ContactCard from "../components/ContactCard.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import TrainingCard from "../components/trainingCard.astro";
import Tabel from "../components/Tabel.astro";
import Traening from "./traening.astro";

const coachId = "23"; // Replace with the actual ID of the coach you want
const contactInfo = await fetch(`https://cgymdqjrjdkshxuerdil.supabase.co/rest/v1/Contact_info?id=eq.${coachId}`, {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNneW1kcWpyamRrc2h4dWVyZGlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjg4NjYsImV4cCI6MjAzMDc0NDg2Nn0.Wuj2B0mSu9HRIludgvymMYSNlhDMzV8213Fitr6A4bw",
  },
}).then((response) => response.json());

console.log("contactInfo", contactInfo);
---
<MainLayout title="Juniortræning"/>

<div class="main">

        <section class="breadcrumb_trail">
          <a href="/index"><BreadCrumb breadtitle="Hjem"/></a>
          <a href="/traening"><BreadCrumb breadtitle="Træning"/></a>
          <a href="/juniortraening"><BreadCrumb breadtitle="Junior"/></a>
        </section>

            <h2>JUNIORTRÆNING 2024</h2>

            <section class="grid-1_2">
                    <article>
                      <div>
                      <h5>SOMMERTRÆNING</h5>
                      <div><img src="" alt=""><p></p></div>
                      <div><img src="" alt=""><p></p></div>
                    </div>
                    <div>
                      <h5>VINTERTRÆNING</h5>
                      <div><img src="" alt=""><p></p></div>
                      <div><img src="" alt=""><p></p></div>
                    </div>
                    <div>
                      <h5>TRÆNINGSPAUSER</h5>
                      <div><img src="" alt=""><p></p></div>
                      <div><img src="" alt=""><p></p></div>
                    </div>
                    </article>

                    <article class="infocard">
                      {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
                    </article>
              </section>



                <section>
                <h4>HOLD- OG TRÆNINGSTIDSPUNKTER</h4>
                 
                <a href="#" class="card-link" data-target="container1">MINITENNIS<img src="/img/svg/redarrowDown_1.svg"></a>
                <div class="container" id="container1">
                  <div class="card">
                    <TrainingCard />
                  </div>
                </div>
                <a href="#" class="card-link" data-target="container2">KLUBSPILLER<img src="/img/svg/redarrowDown_1.svg"></a>
                <div class="container" id="container2">
                  <div class="card">
                    <TrainingCard />
                  </div>
                </div>
                <a href="#" class="card-link" data-target="container3">TURNERINGSSPILLER<img src="/img/svg/redarrowDown_1.svg"></a>
                <div class="container" id="container3">
                  <div class="card">
                    <TrainingCard />
                  </div>
                </div>
                <a href="#" class="card-link" data-target="container4">ELITESPILLER<img src="/img/svg/redarrowDown_1.svg"></a>
                <div class="container" id="container4">
                  <div class="card">
                    <TrainingCard />
                  </div>
                </div>

                </section>


                <h4>PRISER</h4>
                  <section class="grid-1_2">
                    <p>Tilmeld dig på ATKs hjemmeside via reservationssystemet eller benyt dig af nedenstående links. Log ind med medlemsnummer og pinkode og betal det valgte træningsgebyr under "sæsonhold". Tilmeldingen er bindende for hele vintersæsonen.

 

                      Husk, man skal være medlem af ATK for at kunne modtage træning. Hvis du ikke allerede er medlem af ATK kan du ansøge om juniormedlemskab via formularen her på hjemmesiden.</p>
                    <Tabel
                    title="HOLD" 
                    hold1="Fuldtidsmedlem"
                    pris1="1.100 kr."
                    hold2="Dagmedlem"
                    pris2="900 kr."
                    hold3="Juniormedlem"
                    pris3="500 kr."
                    hold4="Senioridræt"
                    pris4="200 kr."
                    hold5="Vintermedlem"
                    pris5="200 kr."
                    hold6="Passiv"
                    pris6="100 kr." 
                    />
                  </section>
  
</div>  
<Footer />

<style>
   .card-link {
    display: block; /* Set links to display as block elements */
    margin-bottom: 10px; /* Add margin between links */
  }
  .card-link img {
    position: absolute;
    right: 20%;
    width: 16px;

  }

  a {
     color: var(--primaryColor);  
     font-size: 2rem;
    }
  .container {
    display: none;
  }
  .container.active {
    display: block;
  }
</style>


<script>
  const cardLinks = document.querySelectorAll('.card-link');

  cardLinks.forEach(link => {
    link.addEventListener('click', (e) => {
      e.preventDefault();
      const targetId = link.getAttribute('data-target');
      const targetContainer = document.getElementById(targetId);

      targetContainer.classList.toggle('active'); // Toggle the active class for the clicked container
    });
  });
</script>