---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import ContactCard from "../components/ContactCard.astro";
import Footer from "../components/Footer.astro";
import Tabel from "../components/Tabel.astro";
import TrainingCard from "../components/trainingCard.astro";
import NavigationP from "../components/NavigationP.astro";
import TrainingInfo from "../components/TrainingInfo.astro";

const coachId = "24"; // Replace with the actual ID of the coach you want
const contactInfo = await fetch(`https://cgymdqjrjdkshxuerdil.supabase.co/rest/v1/Contact_info?id=eq.${coachId}`, {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNneW1kcWpyamRrc2h4dWVyZGlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjg4NjYsImV4cCI6MjAzMDc0NDg2Nn0.Wuj2B0mSu9HRIludgvymMYSNlhDMzV8213Fitr6A4bw",
  },
}).then((response) => response.json());

console.log("contactInfo", contactInfo);
---
<MainLayout title="Seniortræning"/>
<NavigationP HeroImg="../img/omatkHero.webp"/>

<div class="main">
  <section class="content">

    <a href="/juniortraening"><BreadCrumb breadtitle="Træning"/></a>
    <a href="/seniortraening"><BreadCrumb breadtitle="Senior"/></a>
    <h2>SENIORTRÆNING 2024</h2>

        <div class="grid-1_2">
          <TrainingInfo datoS="1/5 - 13/9 2024" datoW="1/10 - 24/4 2024" lokationS="Genforeningspladsen 52, 2400 København NV" lokationW="Borups Allé 273, 2400 København NV" pause="Skoleferier samt helligdage"/>
          <article class="infocard">
            {contactInfo.length > 0 && 
              <ContactCard pb="../img/profilepictures/JensSeibaek.jpg" role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email}  phone={contactInfo[0].phone}  profile_picture={contactInfo[0].profile_picture} description={contactInfo[0].description}  
              />
            }
          </article>
        </div>

        <article>
          <a href="#" class="card-link" data-target="container5">4-8. HOLD<img src="/img/svg/redarrowDown_1.svg"></a>
                      <div class="container" id="container5">
                        <div class="card">
                        <TrainingCard
                        teamDescription="4-8 hold"
                        mondayW="N/A" mondayS="N/A" tuesdayW="N/A" tuesdayS="N/A" wednesdayW="N/A" wednesdayS="N/A" thursdayS="N/A" thursdayW="N/A"  fridayS="N/A" fridayW="N/A" saturdayS="N/A" saturdayW="N/A" sundayS="15:00-18:00" sundayW="11:00-13:00"
                        team1="https://atk.halbooking.dk?pid=01&hold=27437" trainingTeam1="4-8. hold træning vinter"  team2="https://atk.halbooking.dk?pid=01&hold=27417" trainingTeam2="4-8. hold træning sommer"
                        teamImg="../img/4-8hold.webp"
                        />
                      </div>
                    </div>
          </article>

          <article>
            <a href="#" class="card-link" data-target="container6">VETERAN<img src="/img/svg/redarrowDown_1.svg"></a>
                        <div class="container" id="container6">
                          <div class="card">
                          <TrainingCard
                          teamDescription="Træning for klubbens veteraner"
                          mondayW="N/A" mondayS="N/A" tuesdayW="N/A" tuesdayS="N/A" wednesdayW="N/A" wednesdayS="N/A" thursdayS="N/A" thursdayW="N/A"  fridayS="N/A" fridayW="N/A" saturdayS="N/A" saturdayW="N/A" sundayS="15:00-18:00" sundayW="11:00-13:00"
                          team1="https://atk.halbooking.dk?pid=01&hold=27437" trainingTeam1="Veterantræning sommer"  team2="https://atk.halbooking.dk?pid=01&hold=27417" trainingTeam2="Veterantræning vinter"
                          teamImg="../img/veterantræning.webp"
                          />
                        </div>
                      </div>
            </article>
        <h4>OM TRÆNINGEN</h4>
        <div class="grid-1_2">
          <p>Tilmeld dig på ATKs hjemmeside via reservationssystemet eller benyt dig af nedenstående links. Log ind med medlemsnummer og pinkode og betal det valgte træningsgebyr under "sæsonhold". Tilmeldingen er bindende for hele vintersæsonen.
            Husk, man skal være medlem af ATK for at kunne modtage træning. Hvis du ikke allerede er medlem af ATK kan du ansøge om juniormedlemskab via formularen her på hjemmesiden.</p>
          
        </div>
        
      </section>
</div>  
<Footer />

<script>
  const cardLinks = document.querySelectorAll('.card-link');

  cardLinks.forEach(link => {
    link.addEventListener('click', (e) => {
      e.preventDefault();
      const targetId = link.getAttribute('data-target');
      const targetContainer = document.getElementById(targetId);

      if (targetContainer.classList.contains('active')) {
        targetContainer.classList.remove('active');
      } else {
        document.querySelectorAll('.container.active').forEach(container => {
          container.classList.remove('active');
        });
        targetContainer.classList.add('active');
      }
    });
  });
</script>


