---
// src/pages/singleview_nyhed.astro

import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import NavigationP from "../components/NavigationP.astro";

const urlParams = new URLSearchParams(Astro.request.url.split('?')[1]);
const id = urlParams.get('id');

let news = null;
if (id) {
  const newsData = await fetch(`https://cgymdqjrjdkshxuerdil.supabase.co/rest/v1/Nyheder_Aktiviteter?id=eq.${id}`, {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNneW1kcWpyamRrc2h4dWVyZGlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjg4NjYsImV4cCI6MjAzMDc0NDg2Nn0.Wuj2B0mSu9HRIludgvymMYSNlhDMzV8213Fitr6A4bw",
    },
  }).then((response) => response.json());

  if (newsData.length) {
    news = newsData[0];
  }
}

if (!news) {
  throw new Error(`No news found for id: ${id}`);
}

const { headline, article } = news;
const title = headline;
---

<MainLayout title="Nyheder"/>
<NavigationP />

<div class="main">
  <section class="content">
    <a href="/juniortraening"><BreadCrumb breadtitle="Hjem"/></a>
    <a href="/seniortraening"><BreadCrumb breadtitle="Nyheder"/></a>
    <a href="#"><BreadCrumb breadtitle={title}/></a>
    
    <h1>yo</h1>
    <h2>{headline}</h2>
    <p>{article}</p>
  </section>
</div>
