---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import ContactCard from "../components/ContactCard.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Banner from "../components/Banner.astro";
import NavigationP from "../components/NavigationP.astro";
import Footer from "../components/Footer.astro";
import HeroImg from "../components/HeroImg.astro";

const coachId = "24"; // Replace with the actual ID of the coach you want
const contactInfo = await fetch(`https://cgymdqjrjdkshxuerdil.supabase.co/rest/v1/Contact_info?id=eq.${coachId}`, {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNneW1kcWpyamRrc2h4dWVyZGlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjg4NjYsImV4cCI6MjAzMDc0NDg2Nn0.Wuj2B0mSu9HRIludgvymMYSNlhDMzV8213Fitr6A4bw",
  },
}).then((response) => response.json());

console.log("contactInfo", contactInfo);
---

<MainLayout title="Træning" />
<NavigationP />
<HeroImg heroImg="../img/træningHero.webp" alt="herobillede"/>

<div class="main">
  <section class="content">
  <a href="/index"><BreadCrumb breadtitle="Hjem"/></a>
  <a href="/traening"><BreadCrumb breadtitle="Træning"/></a>
  <h2>TRÆNING</h2>
  


<div class="grid-1_2">
      <p>I ATK tilbyder vi et bredt træningstilbud til alle medlemstyper. Træningen 
        tilrettelægges hver sæson af cheftræneren og forvaltes af vores erfarne trænerteam.
        Find din træningskateogri herunder, eller kontakt cheftræneren 
        for at blive klogere på træningen i ATK.
      </p>
      <article class="infocard">
        {contactInfo.length > 0 && 
          <ContactCard pb="../img/profilepictures/JensSeibaek.jpg" alt="træner" role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email}  phone={contactInfo[0].phone}  profile_picture={contactInfo[0].profile_picture} description={contactInfo[0].description}  // Add this line to pass description
          />
        }
      </article>
</div>

<div class="spacer">
    <div class="grid-2_2">
      <a href="/juniortraening"><CategoryCard imgPath="../img/juniorCategory.webp" title="JUNIORTRÆNING" alt="highfive"/></a>
      <a href="/seniortraening"><CategoryCard imgPath="../img/seniorCategory.webp" title="SENIORTRÆNING" alt="medlemmer giver håndtryk"/></a>
      <a href="/motionisttraening"><CategoryCard imgPath="../img/motionist_træning_hero.webp"title="MOTIONISTTRÆNING" alt="motionister"/></a>
      <a href="/elitetraening"><CategoryCard imgPath="../img/elite_træning_hero.webp" title="ELITETRÆNING" alt="gruppebillede"/></a>
    </div>
</div>

</section>

<Banner src="eliteHold.webp" alt="gruppebillede" btnTitle="TJEK MAKKERBØRS"/>

</div>

<Footer />


