---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import ContactCard from "../components/ContactCard.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Banner from "../components/Banner.astro";

const coachId = "24"; // Replace with the actual ID of the coach you want
const contactInfo = await fetch(`https://cgymdqjrjdkshxuerdil.supabase.co/rest/v1/Contact_info?id=eq.${coachId}`, {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNneW1kcWpyamRrc2h4dWVyZGlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjg4NjYsImV4cCI6MjAzMDc0NDg2Nn0.Wuj2B0mSu9HRIludgvymMYSNlhDMzV8213Fitr6A4bw",
  },
}).then((response) => response.json());

console.log("contactInfo", contactInfo);
---

<MainLayout title="Træning" />

<div class="main">

<section class="breadcrumb_trail">
  <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
  <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
  <a href="/juniortraening"><BreadCrumb breadtitle="Junior"/></a>
  <a href="/seniortraening"><BreadCrumb breadtitle="Senior"/></a>
  <a href="/motionisttraening"><BreadCrumb breadtitle="Motionist"/></a>
  <a href="/elitetraening"><BreadCrumb breadtitle="Elite"/></a>
  <a href="/ledelse"><BreadCrumb breadtitle="ledelse"/></a> <!-- husk at slette -->
  <a href="/udvalg"><BreadCrumb breadtitle="udvalg"/></a> <!-- husk at slette -->
  <a href="/allenyheder"><BreadCrumb breadtitle="alle nyheder"/></a> <!-- husk at slette -->
  <a href="/singleview_nyhed"><BreadCrumb breadtitle="single nyheder"/></a> <!-- husk at slette -->
  <a href="/singleview_aktiviteter"><BreadCrumb breadtitle="single aktivitet"/></a> <!-- husk at slette -->
</section>

<h1>TRÆNING</h1>

<p>I ATK tilbyder vi et bredt træningstilbud til alle medlemstyper. Træningen 
   tilrettelægges hver sæson af cheftræneren og forvaltes af vores erfarne trænerteam.
   Læs herunder mere om de forskellige træningskategorier eller kontakt cheftræneren 
   for at blive klogere på træningen i ATK.
</p>

<section class="infocard">
  {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
</section>

<section class="categoryCard_grid2">
  <a href="/juniortraening">
  <CategoryCard
  imgPath="../img/Tennisballsracket.webp"
  title="JUNIOR"/>
  </a>
  
  <a href="/motionisttraening">
  <CategoryCard 
  imgPath="../img/Tennisballsracket.webp"
  title="SENIOR"/>
  </a>
  
  <a href="/seniortraening">
   <CategoryCard 
  imgPath="../img/Tennisballsracket.webp"
  title="MOTIONIST"/>
  </a>
  
  <a href="/elitetraening">
  <CategoryCard 
  imgPath="../img/Tennisballsracket.webp"
  title="ELITE"/>
  </a>
  </section>

<Banner 
src="bannerBg.png"
btnTitle="TJEK MAKKERBØRS"
/>

</div>

<!-- --------------------------------------------------------------------------------- -->

<style>
  .breadcrumb_trail img{ /* pile i brødkrummesti */
      width:0.7%;
  }
  
  p{
    color: blueviolet;/* OBS: skriften er pr default hvid */
  }
   </style>
