---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import ContactCard from "../components/ContactCard.astro";
import Footer from "../components/Footer.astro";

const coachId = "24"; // Replace with the actual ID of the coach you want
const contactInfo = await fetch(`https://cgymdqjrjdkshxuerdil.supabase.co/rest/v1/Contact_info?id=eq.${coachId}`, {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNneW1kcWpyamRrc2h4dWVyZGlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjg4NjYsImV4cCI6MjAzMDc0NDg2Nn0.Wuj2B0mSu9HRIludgvymMYSNlhDMzV8213Fitr6A4bw",
  },
}).then((response) => response.json());

console.log("contactInfo", contactInfo);
---
<MainLayout title="Udvalg"/>

<div class="main">

  <section class="breadcrumb_trail">
    <img class="arrow" src="../img/svg/arrowLeft_1.svg" alt="Pil">
    <img src="../img/svg/arrowLeft_1.svg" alt="Pil">
    <a href="/juniortraening"><BreadCrumb breadtitle="Junior"/></a>
    <a href="/seniortraening"><BreadCrumb breadtitle="Senior"/></a>
    <a href="/motionisttraening"><BreadCrumb breadtitle="Motionist"/></a>
    <a href="/elitetraening"><BreadCrumb breadtitle="Elite"/></a>
</section>

<h1>UDVALG</h1>

<h3>BREDDEUDVALG</h3>
<h4>Udvalget står for at lave arrangementer for bredden i klubben, bl.a. Hyg-ing og Motionisttræning.</h4>
 <!-- contactCard-->
 <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>
  <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>

<h3>SENIORUDVALG</h3>
<h4>Seniorholdudvalget tager sig af 4.-7. hold, veteran B hold samt puljeturnering.</h4>
 <!-- contactCard-->
 <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>
  <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>
  <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>

 <h3>JUNIORUDVALG</h3>
 <h4>Juniorudvalgets (den daglige ledelse) opgave er at udstikke de overordnede rammer, struktur og retningslinjer for juniorafdelingen.</h4>
 <!-- contactCard-->
 <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>
  <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>


 <h3>ELITEUDVALG</h3>
 <h4>Eliteudvalget beskæftiger sig med klubrangliste, træning og arrangementer for klubbens elitespillere.</h4>
 <!-- contactCard-->
 <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>
  

 <h3>TURNERINGSUDVALG</h3>
 <h4>Udvalget arrangerer tilbagevendende klubturneringer- og aktiviteter.</h4>
 <!-- contactCard-->
 <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>
  <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>
  <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>
  <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>
  <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>
 

 <h3>IT- OG KOMMUNIKATIONSUDVALG</h3>
 <h4>Udvalget står bl.a. for udsendelse af ATK-NYT, nyhedsbreve og vedligeholdelse af hjemmesiden.</h4>
 <!-- contactCard-->
 <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>
  <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>
  <section class="infocard">
    {contactInfo.length > 0 && <ContactCard role={contactInfo[0].role} name={contactInfo[0].name} email={contactInfo[0].email} phone={contactInfo[0].phone} profile_picture={contactInfo[0].profile_picture} />}
  </section>
</div>

<Footer />

<!-- --------------------------------------------------------------------------------- -->
<style>
    .breadcrumb_trail img{ /* pile i brødkrummesti */
        width:0.7%;
    }
    
    p{
      color: blueviolet;/* OBS: skriften er pr default hvid */
    }
     </style>