---
export interface NewsData {
  slug: string;
}

export interface NewsProps {
  news_image: string;
  date: string;
  headline: string;
  subheadline: string;
  article: string;
  id: string;
  slug: string;
  data: NewsData; // Update the type of data
}

const { article, data, news_image, date, headline, subheadline, slug, id } = Astro.props as NewsProps;
---

<div class="news_card">
  <div class="card-image">
    <img src={news_image} alt="" class="news-img" />
  </div>

  <div class="card-content">
    <p class="news-date">{date}</p>
    <h4 class="news-headline">{headline}</h4>
    <p class="news-subheadline">{subheadline}</p>
  </div>

  <div class="read-more">
    <div>
      <a href={`nyheder/${slug}`}>LÆS MERE</a>
      <img src="/img/svg/redarrowRight_1.svg" class="arrowIcon" alt="pil" />
    </div>
  </div>

  <style>
    .news_card {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr repeat(2, 1fr);
      transition: transform 0.3s;
      width: 700px;
      height: 400px;
      background-color: #f9f9f9;
      border-radius: 4px;
    }

    .news-img {
      width: 100%;
      height: 225px;
      object-fit: cover;
      border-radius: 4px 4px 0 0;
    }

    .card-content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .read-more img {
      height: 14px;
    }

    .news-date {
      font-size: 0.8rem;
      font-size: 1.2rem;
    }

    .news-subheadline {
      font-size: 1rem;
    }

    a {
      font-weight: bold;
      font-size: 1rem;
    }
    .news-date,
    .news-headline,
    .news-subheadline {
      margin-left: 2%;
    }

    @media only screen and (max-width: 1024px) {
      .news_card {
        width: 500px;
        height: 400px;
      }
    }

    @media only screen and (max-width: 768px) {
      .news-img {
        width: 100%;
        height: 230px;
      }

      .news_card {
        width: 240px;
        height: 400px;
      }

      .read-more img {
        height: 12px;
      }

      .news-date {
        font-size: 0.6em;
        color: gray;
      }

      .news-headline {
        font-size: 1rem;
      }

      .news-subheadline {
        font-size: 0.8rem;
      }

      a {
        font-weight: bold;
        font-size: 1rem;
      }
    }
  </style>

  <
</div>
