---
export interface ContactProps {
  role: string;
  name: string;
  email: string;
  phone: string;
  pb: string;
  description: string;
}

const { role, name, description, email, phone, pb, } = Astro.props as ContactProps;
---

<article class="contactcard">
  <div class="contact-info">
    <div>
    <h4>{role}</h4>
    </div>
    <div class="profile-picture">
      <img src={pb} alt={`${name}'s Profile Picture`} />
    </div>
    <div>
    <p>{description}
    <p>{name}</p>
    <p>{email}</p>
    <p>{phone}</p>
  </div>
  </div>
</article>

<style>

  .contactcard {
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    width: 300px;
    height: 200px
    padding: 20px;
    transition: transform 0.3s; 
  }
  /* .contactcard:hover {
    transform: scale(1.1);
  } */
  
  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr;
  }
  .profile-picture img {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 50%; 
  }
  .contactcard h6,
  .contactcard p {
    margin: 0; 
    padding: 1% 0%; 
  }

  .contactcard p {
    font-size: 0.8rem;
  }

  @media only screen and (max-width: 480px) {
    .profile-picture img {
    width: 75px; 
    height: 75px; 
    object-fit: cover; 
    border-radius: 50%; 
  }
  .contactcard p {
    font-size: 0.6rem;
  }
    
    }
</style>
