---
export interface ContactProps {
  role: string;
  name: string;
  email: string;
  phone: string;
  pb: string;
  description: string;
}

const { role, name, description, email, phone, pb, } = Astro.props as ContactProps;
---

<article class="contactcard">
  <div class="contact-info">
    <h4>{role}</h4>
    <p>{description}
    <p>{name}</p>
    <p>{email}</p>
    <p>{phone}</p>
  </div>
  <div class="profile-picture">
    <img src={pb} alt={`${name}'s Profile Picture`} />
  </div>
</article>

<style>

  .contactcard {
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s; 
  }
  .contactcard:hover {
    transform: scale(1.1);
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
  }
  .profile-picture img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 50%; 
  }
  .contactcard h6,
  .contactcard p {
    margin: 0; 
    padding: 1% 0%; 
  }

  .contactcard p {
    font-size: 0.8rem;
  }
</style>
