---
export interface ContactProps {
  role: string;
  name: string;
  email: string;
  phone: string;
  profile_picture: string;
}

const { role, name, email, phone, profile_picture } = Astro.props as ContactProps;
---

<article class="contactcard">
  <div class="contact-info">
    <h6>{role}</h6>
    <p>{name}</p>
    <p>{email}</p>
    <p>{phone}</p>
  </div>
  <div class="profile-picture">
    <img src={profile_picture} alt={`${name}'s Profile Picture`} />
  </div>
</article>

<style>
  .contactcard {
    background-color: aliceblue;
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--primaryColor);
    overflow: hidden;
    width: 328px;
    height: 208px;
    margin: 20px;
    padding: 20px; /* Add padding to the contact card */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s; /* smoother transition combined with the hovering */
  }
  .contactcard:hover {
    transform: scale(1.1);
  }
  .contactcard h6,
  .contactcard p {
    color: black; /* Set the text color to black for h6 and p elements */
    margin: 0; /* Remove default margin */
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .profile-picture img {
    width: 100px; /* Set the desired width */
    height: 100px; /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the area, maintaining aspect ratio */
    border-radius: 50%; /* Make the image circular */
  }
</style>
