---
export interface ContactProps {
  role: string;
  name: string;
  email: string;
  phone: string;
  pb: string;
  description: string;
}

const { role, name, description, email, phone, pb, } = Astro.props as ContactProps;
---

<article class="contactCard">
    <div class="contactContent">
      <div class="headline"><h4>{role}</h4></div>
      <div><p>{description}</div>
      <div> <p>{name}</p> <p>{email}</p><p>{phone}</p></div>
  </div>

    <div class="profile-picture"> <img src={pb} alt={`${name}'s Profile Picture`} /></div>

   
   

</article>

<style>

  .contactCard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 400px;
    height: 100%;
    transition: transform 0.3s; 
  }

  .contactContent {
    display: grid;
grid-template-columns: 2fr;
grid-template-rows: repeat(2, 1fr);
    padding: 5%;
  }

  .contactCard h4 {
    font-size: 1.2rem;
  }
  .contactcard:hover {
    transform: scale(1.1);
  }
  
  .profile-picture img {
    object-fit: cover; 

  }
  .contactContent h4 {
    font-size: 1rem;
  }
  .contactcard p {
    margin: 0; 
  
  }
  .profile-picture img {
    width: 100%;
  }


  @media only screen and (max-width: 1024px) {

    .contactCard h4 {
    font-size: 0.8rem;
  }

    .contactCard {
    width: 250px;
  }


  }

  @media only screen and (max-width: 400px) {
    .contactCard {
    width: 250px;
  }
  .contactCard p {
    font-size: 0.6rem;
  }
    
    }
</style>
