---
// Newscard.astro

export interface NewsData {
  slug: string;
  // add other properties if needed
}
export interface NewsProps {
  news_image: string;
  date: string;
  headline: string;
  subheadline: string;
  article: string;
  id: string; 
  slug: string;
  data: NewsData;
}


const { news_image, date, headline, subheadline, slug } = Astro.props as NewsProps;
---

<article class="newscard">
  
  <div class="news-picture">
    <img src={news_image} alt="News Image" />
  </div>
  
  <div class="news-info">
    <p class="news-date">{date}</p>
    <h5 class="news-headline">{headline}</h5>
    <p class="news-subheadline">{subheadline}</p>
  </div>

  <div class="read-more">
    <a href={`nyheder/${slug}`}>LÆS MERE<img src="/img/svg/redarrowRight_1.svg" alt="pil"/></a>
  </div>
 
</article>

<style>
  .newscard {
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr repeat(2, 1fr);
    transition: transform 0.3s;
  }
  .newscard:hover {
    transform: scale(1.1);
  }
  .news-picture img {
    width: 100%;
    height: 175px;
    min-height: 175px;
    object-fit: cover;
  }
  .news-info {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
  }
  .news-date {
    font-size: 0.8em;
    color: gray;
    margin: 0;
  }
  .news-headline {
    font-size: 1.2em;
    margin: 0;
  }
  .news-subheadline {
    font-size: 1em;
    margin: 0;
  }


</style>
