<table class="trainingTable">
    <thead>
      <tr>
        <th>Dag</th>
        <th>Vinter</th>
        <th>Sommer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mandag</td>
        <td>{mondayW}</td>
        <td>{mondayS}</td>
      </tr>
      <tr>
        <td>Tirsdag</td>
        <td>{tuesdayW}</td>
        <td>{tuesdayS}</td>
      </tr>
      <tr>
        <td>Onsdag</td>
        <td>{wednesdayW}</td>
        <td>{wednesdayS}</td>
      </tr>
      <tr>
        <td>Torsdag</td>
        <td>{thursdayW}</td>
        <td>{thursdayS}</td>
      </tr>
      <tr>
        <td>Fredag</td>
        <td>{fridayW}</td>
        <td>{fridayS}</td>
      </tr>
      <tr>
        <td>Lørdag</td>
        <td>{saturdayW}</td>
        <td>{saturdayS}</td>
      </tr>
      <tr>
        <td>Søndag</td>
        <td>{sundayW}</td>
        <td>{sundayS}</td>
      </tr>
    </tbody>
  </table>