---

import MainLayout from "../../layouts/MainLayout.astro";
import NavigationP from "../../components/NavigationP.astro";
import BreadCrumb from "../../components/BreadCrumb.astro";
import Footer from "../../components/Footer.astro";

/* const image = window.location.search; */
interface News {
  slug: string;
  news_image: string;
  date: string;
  headline: string;
  subheadline: string;
  article: string;
  id: string;
  image: string;
}

export async function getStaticPaths() {
  const data: News[] = await fetch("https://cgymdqjrjdkshxuerdil.supabase.co/rest/v1/Nyheder_Aktiviteter?limit=5", {
    method: "GET",
    headers: {
      apikey:  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNneW1kcWpyamRrc2h4dWVyZGlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjg4NjYsImV4cCI6MjAzMDc0NDg2Nn0.Wuj2B0mSu9HRIludgvymMYSNlhDMzV8213Fitr6A4bw",
    },
  }).then((response) => response.json());
  
  return data.map((news) => {
    return {
      params: { slug: news.slug },
      props: { myData: news },
    };
  });
}

const {myData} = Astro.props
console.log("min data",myData);
---

<MainLayout title={myData.slug}/>
<NavigationP />
<div class="mainv2">
  <section class="content">
    <a href="/juniortraening"><BreadCrumb breadtitle="Hjem" /></a>
    <a href="/seniortraening"><BreadCrumb breadtitle="Nyheder" /></a>
    <a href="/seniortraening"><BreadCrumb breadtitle={myData.headline} /></a>
        
      <h2>{myData.headline}</h2>

          <div class="grid-1_2">
            <div>
              <p class="subheadline">{myData.subheadline}</p>
              <div class="newsImage">
                <img src={myData.image} />
              </div>
              <p>{myData.article}</p>
            </div>
            
          </div>
      </section>
    
      </div>
      <Footer />

      <style>

        
      </style>